<form method="POST" action="" class = "form_hub">
    {% csrf_token %}
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "computer_science" name = 'selection'>
        
    </div>  
    
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "cyber_security" name = 'selection'>
        
    </div>  
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "ai" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "design" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "it_systems" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "iot" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "software" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "data_science" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'networks' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'books' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = "movies" name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'signing' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'mangas' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'animes' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'series' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'drawing' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'hiking' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'football' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'tennis' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'cooking' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'basketball' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'handball' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'volleyball' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'fitness' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'jogging' name = 'selection'>
        
    </div>
    <div class="mod_ele">
                        
        <input type = 'checkbox' value = 'cysclism' name = 'selection'>
        
    </div>

    <button type = "submit">submit</button>
</form>