
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mentor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style2.css"%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Mentor</title>
</head>
<body>
    <div class="NavBar">

        <div class="Logo">
    
               <img  src="{% static 'images\3.png' %}" style="width:150px; height:150px;">
    
            
        </div>
    
           <nav class="navbar navbar-expand-lg navbar-light">
    
    
        <div class="container-fluid">
    
         
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
            <ul class="navbar-nav">
              <li class="nav-item one">
                <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'home2' %}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Community
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'discover' %}">Discover Tamazight</a></li>
                  <li><a class="dropdown-item" href="{% url 'matching' %}">Get To know more friends</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
              </li>
              <li class="nav-item">
                <div class="circle"></div>
              </li>
    
            </ul>
          </div>
        </div>
    
      </nav>
    </div>
    <div class="main_container font_Poppins">
        <div class="picture_main_cotainer">
            <div class="picture"></div>
            <div class="picture_text font_Poppins">
                <h3>Connect to a mentor and ask your questions</h3>
            </div>
        </div>
       
        <div class="profil_container font_Poppins">
          <!--first culumn-->
          {% for instance in users %}
          <div class="profil">
              <div class="profil_img">
                  <img src="media/{{instance.image}}" alt="profile picture">
              </div>
              <div class="profile_btn">
                  <h3>{{instance.username }}</h3>
                  <form method="POST" action="/chat"  name = 'submit'>
                      {% csrf_token %}
                      <button type="submit" value = '{{instance.id}}' class = "filtrBtn" name = 'submit_button'>Connect</button>
                  </form>
              </div>
              
          </div>
          {% endfor %}
      </div>





        <div class="swip_container">
            <div class="swip_num">
                <h3 class="list_num list_selected">1</h3>
                <h3 class="list_num">2</h3>
                <h3 class="list_num">3</h3>
                <h3 class="list_num">4</h3>
                <h3 class="list_num">5</h3>
            </div>
        </div>
    </div>
    <script src="{% static 'js/mentor.js' %}"></script>
</body>
</html>